.principalHeader {
    color: #fff;
    background-color: #b99d6b;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 1rem;

    em {
      cursor: pointer;
    }

    .dropdown-item {
      cursor: pointer;
    }
}
