<div class="col-md-4 col-md-offset-4 container mt-5">
    <h2 class="text-center">Registrar</h2>
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <div class="form-group mt-5">
            <input
                type="text"
                name="first_name"
                class="form-control"
                placeholder="First Name"
                formControlName="first_name"/>
                <hr class="hr-line">
                <div class="input-group-append form__required" *ngIf="registerForm.get('first_name').invalid">
                    <span class="colorInvalid">
                        <em>FirstName is required</em>
                    </span>
                </div>
        </div>
        <div class="form-group mt-5" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <input
                type="text"
                name="last_name"
                class="form-control"
                placeholder="Last Name"
                formControlName="last_name"/>
                <hr class="hr-line">
                <div class="input-group-append form__required" *ngIf="registerForm.get('last_name').invalid">
                    <span class="colorInvalid">
                        <em>LastName is required</em>
                    </span>
                </div>
        </div>
        <div class="form-group mt-5" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <input
                type="text"
                name="username"
                class="form-control"
                placeholder="Username"
                formControlName="username"/>
                <hr class="hr-line">
                <div class="input-group-append form__required" *ngIf="registerForm.get('username').invalid">
                    <span class="colorInvalid">
                        <em>Username is required</em>
                    </span>
                </div>
        </div>
        <div class="form-group mt-5" ng-class="{ 'has-error': form.email.$dirty && f.email.errors}">
            <input
                type="email"
                name="email"
                class="form-control"
                placeholder="email"
                formControlName="email" />
                <hr class="hr-line">
                <div class="input-group-append form__required" *ngIf="registerForm.get('email').invalid">
                    <span class="colorInvalid">
                      <i *ngIf="f.email.errors?.required">Email is required</em>
                      <i *ngIf="f.email.errors?.email">Email not valid</em>
                    </span>
                </div>
        </div>
        <div class="form-group mt-5" ng-class="{ 'has-error': form.password.$dirty && (form.password.$error.required || form.password.$error.minLength || form.password.$error.maxLength)}">
            <input
                type="password"
                name="password"
                class="form-control"
                placeholder="password"
                formControlName="password" />
                <hr class="hr-line">
                <div class="input-group-append form__required">
                    <span class="colorInvalid">
                        <i *ngIf="f.password.errors?.required">Password is required</em>
                        <i *ngIf="f.password.errors?.minlength || f.password.errors?.maxlength">Password length must be 8 characters</em>
                    </span>
                </div>
        </div>
        <div class="form-group mt-5" ng-class="{ 'has-error': form.repassword.$dirty && f.repassword.errors}">
            <input
                type="password"
                name="repassword"
                class="form-control"
                placeholder="repeat password"
                formControlName="repassword" />
                <hr class="hr-line">
                <div class="input-group-append form__required">
                    <span class="colorInvalid">
                      <em *ngIf="f.repassword.errors?.required">Repeat password is required</em>
                      <em *ngIf="f.repassword.errors?.mustMatch">Passwords must be equals</em>
                    </span>
                </div>
        </div>
        <div class="buttons">
            <button type="submit" [disabled]="registerForm.invalid" class="btn buttons__login">Register</button>
            <img *ngIf="dataLoading" alt="img" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <button type="button" class="btn buttons__register" [routerLink]="'/'">Cancelar</button>
        </div>
        <div class="input-group-append" *ngIf="errorNewUser">
            <span class="colorInvalid">
                <em>{{ errorMessageNewUser }}</em>
            </span>
        </div>
    </form>
</div>

